.tagText {
  font-size:10px
}

.box[_ngcontent-c1] a:hover{                     /* fail fail fail */
  text-decoration: none !important;
}

ngb-panel#static-1> a:hover{                     /* fail fail fail */
  text-decoration: none !important;
}
ng-template.routeType a:hover{                   /* fail fail fail */
text-decoration: none !important;
font-size: 80% !important;
}

a:hover {                                        /* fail fail fail */
    color: red !important;
    text-decoration: none !important;
}
