<div class="wrapper">
  <div class="box header heading-text">SF-Muni Transit Map Visualization</div>
  <div class="box sidebar">
    Toggle Switch
    <br>
    <app-toggleroutes></app-toggleroutes>
    <ul>
      <li><a href="">1-California</a></li>
      <li><a href="">2-Clement</a></li>
      <li><a href="">3-Jackson</a></li>
      <li><a href="">5-Fulton</a></li>
      <li><a href="">6-Haight-Parnassus</a></li>
      <li><a href="">7-Haight-Noriega</a></li>
      <li><a href="">8-Bayshore</a></li>
      <li><a href="">9-San Bruno</a></li>
      <li><a href="">10-Townsend</a></li>
      <li><a href="">12-Folsom-Pacific</a></li>
      <li><a href="">14-Mission</a></li>
      <li><a href="">18-46th Avenue</a></li>
      <li><a href="">19-Polk</a></li>
      <li><a href="">21-Hayes</a></li>
      <li><a href="">22-Fillmore</a></li>
      <li><a href="">23-Monterey</a></li>
      <li><a href="">24-Divisadero</a></li>
      <li><a href="">25-Treasure Island</a></li>
      <li><a href="">27-Bryant</a></li>
      <li><a href="">28-19th Avenue</a></li>
      <li><a href="">29-Sunset</a></li>
      <li><a href="">30-Stockton</a></li>
      <li><a href="">31-Balboa</a></li>
      <li><a href="">33-Ashbury-18th St</a></li>
      <li><a href="">35-Eureka</a></li>
      <li><a href="">36-Teresita</a></li>
      <li><a href="">37-Corbett</a></li>
      <li><a href="">38-Geary</a></li>
      <li><a href="">39-Coit</a></li>
      <li><a href="">41-Union</a></li>
      <li><a href="">43-Masonic</a></li>
      <li><a href="">44-O'Shaughnessy</a></li>
      <li><a href="">45-Union-Stockton</a></li>
      <li><a href="">47-Van Ness</a></li>
      <li><a href="">48-Quintara-24th Street</a></li>
      <li><a href="">49-Van Ness-Mission</a></li>
      <li><a href="">52-Excelsior</a></li>
      <li><a href="">54-Felton</a></li>
      <li><a href="">55-16th Street</a></li>
      <li><a href="">56-Rutland</a></li>
      <li><a href="">57-Parkmerced</a></li>
      <li><a href="">66-Quintara</a></li>
      <li><a href="">67-Bernal Heights</a></li>
      <li><a href="">88-Bart Shuttle</a></li>
    </ul>
  </div>
  <div class="box content"></div>
  <div class="box footer"></div>
</div>
