/* global styles */

html {
  background-color: #f4f4f4;
}

body {
  margin: 15px;
  font-family: sans-serif;
}


/* basic d3 style setup */
/* lables or text */
.pos-start {
  text-anchor: start;
}
.pos-middle {
  text-anchor: middle;
}
.pos-end {
  text-anchor: end;
}
.v-middle {
  alignment-baseline: middle;
}
.v-central {
  alignment-baseline: central;
}
.v-top {
  alignment-baseline: hanging;
}
.size-tiny {
  font-size: 0.5em;
}
.size-small {
  font-size: 0.875em;
}
.size-normal {
  font-size: 1em;
}
.size-large {
  font-size: 1.128em;
}
.size-huge {
  font-size: 1.5em;
}
.weight-bold {
  font-weight: bold;
}
/* line */
.stroke-black {
  stroke: #000;
}
.stroke-darkGrey {
  stroke: #666666;
}
.stroke-grey {
  stroke: #999999;
}
.stroke-lightGrey {
  stroke: #e5e5e5;
}
.stroke-lightestGrey {
  stroke: #fafafa;
}
.stroke-none {
  stroke: none;
}
.stroke-1 {
  stroke-width: 1;
}
.stroke-2 {
  stroke-width: 2;
}
.stroke-dashed {
  stroke-dasharray: 4, 2;
}
/* fill */
.fill-black {
  fill: #000;
}
.fill-semiblack {
  fill: #444;
}
.fill-darkGrey {
  fill: #666666;
}
.fill-grey {
  fill: #999999;
}
.fill-lightGrey {
  fill: #e5e5e5;
}
.fill-lightestGrey {
  fill: #fafafa;
}
.fill-white {
  fill: #fff;
}
.fill-none {
  fill: none;
}
